<div class="register-container">
  <h2>Cadastro</h2>
  <form (submit)="register()">
    <input [(ngModel)]="name" name="name" type="text" placeholder="Nome" required />
    <input [(ngModel)]="email" name="email" type="email" placeholder="Email" required />
    <input [(ngModel)]="password" name="password" type="password" placeholder="Senha" required />
    <button type="submit">Criar Conta</button>
  </form>

  <p class="link-login">
    Já tem conta?
    <a routerLink="/login">Entrar</a>
  </p>
</div>